html {
    background-color: #edf2fa;
  }
  
  body {
    background-color: white;
    width: 375px;
    margin: 0 auto;
  }

  .featured_img {
    width: 90%;
    border-radius: 10px;
    height: 300px;;
  }